.pokemonDashboard {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    gap: 8px;
    padding: 8px;
    max-width: 100%;
    width: 700px;
}

.information {
    max-width: 100%;
    width: 100%;
    word-break: break-all;
}

.keyVal {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.pokemonName {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    color: #EBE25E;
}

.pokemonButton {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.3s;
    background: rgb(0, 0, 0, 0.3);
    color: white;
}

.pokemonButton:hover {
    background-color: white;
    color: #0f172a;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spriteContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 150px;
    height: 150px;
}

.pokemonSprite {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: -75px auto;
    object-fit: fill;
}

.itemSpriteContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 50px;
    height: 50px;
}

.itemSprite {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: -25px auto;
    object-fit: fill;
}